/* General styling for the body */
body {
  font-family: "Arial", "Helvetica Neue", sans-serif;
  background-color: #f9f9fb;
  color: #333;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  /* Base font size */
  width: 300px;
}

/* Main container styling */
.container {
  background-color: #fff;
  padding: 20px;
  max-width: 1000px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/* Title styling */
.title {
  font-size: 16px;
  /* Largest font size */
  font-weight: bold;
  margin-bottom: 20px;
  color: #500e97;
  text-align: center;
}

tr:hover td {
  transform: scale(1.05);
}

* {
  box-sizing: border-box;
}

table {
  width: 90%;
  margin: 5% 5%;
  text-align: left;
}

body {
  display: flex;
  height: 100vh;
  background: hsl(232, 22%, 90%);
  color: rgb(128, 76, 217);
}

body>* {
  margin: auto;
}

/* Input fields and button container */
input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  margin: 0px 0 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 13px;
  /* Input font size */
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border-color: #c6a5f5;
  outline: none;
}

.button {
  padding: 8px 16px;
  background-color: #7748b9;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  /* Button font size */
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
  width: 50%;
  align-self: center;
}

.button:hover {
  background-color: #56239e;
}

.navigation {
    background-color: #228d72;
    width: 100%;
}

.navigation:hover {
    background-color: #1a6f5c;
}
/* Error message styling */
.error-message {
  color: red;
  font-size: 13px;
  margin: 5px;
  text-align: center;
}

.agent-description {
    width: 100%;
    padding: 8px;
    margin: 0px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
    /* Input font size */
    box-sizing: border-box;
}

#system-prompt {
  width: 100%;
  resize: vertical;
  height: 10em;
}